*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0F172A !important;
}

.custom-danger{
    background-color: #F87171 !important;
}


.btn-primary{
    background: #3B82F6 !important;
    border-color: #3B82F6 !important;
}

.navbar{
    background: #1E293B ;
    
}

.navbar-text,
.navbar-brand,
.nav-link{
    color: #E2E8F0 !important  ;
}


.btn-primary:hover{
    background: #2563EB !important;
    border-color: #2563EB !important;
}